@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;1,200&display=swap')
@import ./abstract/mixins.sass
@import ./components/news-section.sass

*
  margin: 0
  padding: 0
  box-sizing: border-box


body
  padding: 3rem
  height: 100%
  width: 100%
  background-color: #343434
  display: flex
  font-family: 'Montserrat', sans-serif

h1
  color: white

main
  height: 100%
  width: 100%
  @include flex(column, flex-start, center, 1rem)
  button
    text-align: center
    width: 30%
    padding: 1rem
    border: solid 1px blue
    color: white
    background: transparent
    &:hover
      background: blue
      color: white
      transition: background
      transition-duration: 400ms

@media screen and (max-width: 560px)
  body
    padding: 1rem

